.jstb_rtd_templates { background-image: url('../images/document.png') }
.jstb_rtd_templates_submenu { width: 240px; }
.jstb_rtd_templates_submenu button { width: 80px; text-align: center; margin: 0;}
.jstb_rtd_templates_submenu button span{ width: 100%; display: inherit; }s
